/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
}

html {
    font-size: 1em;c
    line-height: 1.4;
}

.contenedor {
    clear: both;
    margin:0 auto;
    padding:0 0 0 0;
    width:77%;
    font-size: 14px;
    max-width: 960px;
}

/* FROM */
form#search{
    float: right;
    height: 40px;
    margin: -10px 0 0 0;
    width: 150px;
}
.search { 
    padding:10px;
    margin:3px;
    width: 130px;
}
.rounded { 
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
}
form#search[type=text]{
    color:#bcbcbc;
    margin: 10px;
}
input[type=button], input[type=button]:hover {
    position:relative; 
    left:-6px;
    border:1px solid #adc5cf;
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
    color:#7da2aa;
    cursor: pointer;
}


form#search input[type=text]{
    border:1px solid #2a2e31;
    background-color:#2d3035;
    color:#FFF;
}

/* FROM */

/* BLOG */
.blog_img {
    float: left;
    margin: 0 20px 20px 0;
}

.post {
    float: left;
    margin: 0 0 0 10px;
    position: relative;
    text-align: left;
    width: 100%;
}

.post img {
    width: 400px;
    height: 330px;
}

.post h2 {
    color: #666;
    font-size: 24px;
    font-weight: 300;
    float: left;
    margin: 0 0 20px; 0;
    width: 100%;
}
/* BLOG */

.contenedor h1 {
    margin: 0 0 20px 10px;
}

.container {
    margin: 0 auto;
    /*max-width: 960px;*/
    padding: 0;
    width: 100%;
    position: relative;
}

.contenedor #mijas {
    background-color:#EEE;
    clear: both;
    font-size: 12px;
    margin: -10px 0 25px 10px;
    padding: 5px;
    text-align: left;
    width: 98%;
}

.borderup { border-top: 5px solid #a30042;
}

#nav {
    background:#FFF;
    height:80px;
    width:100%; 
}

/* NAV Empieza */
nav { color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    position: static;

}

nav .menu {
    height: 80px;
    display: block;
    line-height:75px;
    margin: 0;
    overflow-x:auto;
    padding: 0;
    text-align: center;
    position: relative;
    white-space: nowrap;
    }

nav ul { margin: 0;
    padding: 0;
}

nav li { display: inline-block;
}

nav .activo {
    border-top: 5px solid #a30042;
}

nav a { color: #444;
    display: inline-block;
    margin: 0 1.2em;
    padding:0; 
    text-decoration: none;
}

nav a:link {}
nav a:hover { color: #a30042; }
nav a:active {}

nav .logo {}
/* NAV Empieza */

.head {width:100%; height:410px; background:#666;}
/*
header {
    background-image: url(../img/Slider-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:410px;
    margin:0px;
    position: static;
    width:100%;
}

header h1 { font-size: 40px; margin: 0;}
header p { font-size: 24px; margin: 0;}*/

header { width: 100%;}

section { text-align: center;
    position: relative;
}

section .projects {
    background-color: green;
}

section h1 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #a30042;
}

#proyectos {
    text-align: center;
    position: relative;
    margin: 20px 0 0 0;
}

#proyectos h1 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #a30042;
}

.project {
    width:310px;
    height:180px;
    padding:0;
    float:left;
    margin:5px;
}

.project img{
    width:310px;
    height:180px;
}

#single {
    text-align: center;
    position: relative;
    margin: 20px 0 0 0;
}

#single .colleft {
    float: left;
    margin: 0 0 0 10px;
    position: relative;
    text-align: left;
    width: 550px;
}

#single .colleft .galeria {
    width:175px;
    padding:0;
    float:left;
    margin:4px;
}

#single .colleft .galeria img{
    width: 175px;
    height: 107px;
}

#single .colleft .otros {
    clear: both;
    height: 0px;
    margin:0 0 0 5px; 
    width: 98%;
    padding-top: 10px;
}

#single .colleft .otros hr {
    width: 100%;
}

#single .colright {
    float: left;
    margin: 0 0 0 10px;
    position: relative;
    text-align: left;
    width: 390px;
}

#single .colright hr { width: 100%}

#single h1 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #a30042;
}

#single .colright h5 {
    color: #A30042;
}

.colleft { 
    float: left;
    position: relative;
    text-align: left;
    width: 49%;
}

.colright {
    float: left;
    margin-left: 10px;
    position: relative;
    text-align: left;
    width: 49%;
}

.colright ul {
    padding: 0 0 0 25px;
}

.center {
    margin-bottom:40px;
    width:960px;
}

.center .socio {
    float: left;
    height: 350px;
    margin: 5px;
    text-align: left;
    width: 180px
}

.center .proyecto {
    float: left;
    height: 350px;
    margin: 5px;
    text-align: left;
    width: 310px
}

.center .proyecto img{
    width: 310px;
    height: 180px;
}

.center .proyecto .excerpt{
    height: 60px;
}
.contacto {
    margin-bottom:40px;
    width:960px;
}

#contacto h1 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #a30042;
}

#contacto .colleft {
    margin-bottom:40px;
    width:315px;
}

#contacto .colleft a { color: #a30042;}

#contacto .colright {
    margin-bottom:40px;
    width:635px;
}

footer {
    background: none repeat scroll 0 0;
    bottom: 0;
    display: block;
    height: 100px;
    margin: 20px 0 0 0;
    position: relative;
    clear: both;
}

#privacidad {
    float:left;
    font-size: 12px;
    height: 50px;
    margin: 0 0 0 5px;
    padding:20px 0;
    width:230px;
}

#privacidad a { color: #444;
    padding:0; 
    text-decoration: underline;
}

#privacidad a:link {}
#privacidad a:hover { color: #a30042; }
#privacidad a:active {}


#redes {
    margin: 0 25px 0 0;
    width: 120px;
    padding:5px 0;
    float:right;
}

#redes .redsocial {
    float: left;
    margin: 9px 4px 0 4px;
}

footer #clear { clear: both;
}

nav .activo {
    border-top: 5px solid #a30042;
}

.line-footer {
    display: block;
    height: 0px;
    border: 2px solid #444;
    margin: 1em 0;
    padding: 0;
    width: 97%;
    margin: 20px 10px 20px 0;
}

.floatL{
    float: left;
}

.floatR{
    float: right;
}

.left {
    float: left;
    text-align: left;
    width: 150px;
}
.right { text-align: right;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #A30042;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 98%;
    margin: 0 auto 20px auto;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
